body {
    font-family: 'Montserrat', sans-serif;
    max-width: 100%;
    background: white;
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0;
}

.navigation {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 0.3em solid #324960;
}

.login {
    display: flex;
    flex-direction: row;
}

.login-component {
    max-height: 25px;
    margin: 10px;
    align-self: center;
}

#welcome {
    text-align: center;
}

.content-collapsible {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    background-color: #f1f1f1;
}


input:focus {
    border-color: #04AA6D;
    box-shadow: 0 0 8px 0 #04AA6D;
}

input {
    border: 2px solid #324960;
    border-radius: 3px;
    width: 95%;
    margin-left: 10px;
    transition: .3s;
    outline: none;
}

.main-a {
    text-decoration: none;
    text-align: center;
    margin: 20px;
    color: #324960;
}

.main-a:hover {
    text-decoration: none;
    text-align: center;
    margin: 20px;
    color: #04AA6D;
}

.main {
    display: flex;
    height: 100%;
    width: 10%;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    justify-content: center;
}

.button-9 {
    cursor: pointer;
    outline: 0;
    color: #fff;
    width: 150px;
    background-color: #091534;
    border-color: black;
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    border: 1px solid transparent;
    padding: 6px 12px;
    font-size: 12px;
    border-radius: .25rem;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.button-9:hover {
    color: black;
    background-color: #4FC3A1;
    border-color: #4FC3A1;
}

#wrapper {
    display: flex;
    height: calc(100vh - 50px);
    /* height of body less height of navbar */
    overflow: hidden;
}

/* SIDEBAR */
#sidebar {
    background: white;
    display: flex;
    width: 200px;
    flex-direction: column;
    border-right: 0.3em solid #324960;
}

#sidebar button {
    cursor: pointer;
    float: right;
    color: black;
    background: white;
    text-align: center;
    padding: 20px 5px;
    border: none;
    text-decoration: none;
    border-radius: 3px;
    font-size: 14px;
    flex-direction: row;
    font-family: 'Montserrat', sans-serif;
}

#sidebar button:hover {
    background-color: #324960;
    color: white;
}

#sidebar button.active {
    background-color: #04AA6D;
    color: red
}

#content {
    width: 100%;
    height: 100%;
    background-color: white;
    flex: 1;
    overflow: scroll;
    /* triggers scrollbar */
}

.cell {
    word-wrap: break-word;
}

.headers {
    font-size: 20px;
    font-weight: bold;
    word-wrap: initial;
}

.action-row {
    display: flex;
    flex-direction: column;
    justify-items: flex-end;
    text-align: center;
    margin: 20px;

}

/* Table Styles */

.table-wrapper {
    margin: 10px 70px 70px;
    box-shadow: 0px 35px 50px rgba(0, 0, 0, 0.2);
}

.fl-table {
    border-radius: 5px;
    font-size: 12px;
    font-weight: normal;
    border: none;
    border-collapse: collapse;
    width: 100%;
    max-width: 100%;
    white-space: normal;
    background-color: white;
    border-collapse: collapse;
    table-layout: fixed;
}

.fl-table td,
.fl-table th {
    text-align: center;
    padding: 8px;
    width: 100px;
    word-wrap: break-word;
}

.fl-table td {
    border-right: 1px solid #f8f8f8;
    font-size: 12px;
}

.fl-table thead th {
    color: #ffffff;
    background: #4FC3A1;
}


.fl-table thead th:nth-child(odd) {
    color: #ffffff;
    background: #324960;
}

.fl-table tr:nth-child(even) {
    background: #F8F8F8;
}

/* Responsive */

@media (max-width: 767px) {
    .fl-table {
        display: block;
        width: 100%;
    }

    .table-wrapper:before {
        content: "Scroll horizontally >";
        display: block;
        text-align: right;
        font-size: 11px;
        color: white;
        padding: 0 0 10px;
    }

    .fl-table thead,
    .fl-table tbody,
    .fl-table thead th {
        display: block;
    }

    .fl-table thead th:last-child {
        border-bottom: none;
    }

    .fl-table thead {
        float: left;
    }

    .fl-table tbody {
        width: auto;
        position: relative;
        overflow-x: auto;
    }

    .fl-table td,
    .fl-table th {
        padding: 20px .625em .625em .625em;
        height: 60px;
        vertical-align: middle;
        box-sizing: border-box;
        overflow-x: hidden;
        overflow-y: auto;
        width: 120px;
        font-size: 13px;
        text-overflow: ellipsis;
    }

    .fl-table thead th {
        text-align: left;
        border-bottom: 1px solid #f7f7f9;
    }

    .fl-table tbody tr {
        display: table-cell;
    }

    .fl-table tbody tr:nth-child(odd) {
        background: none;
    }

    .fl-table tr:nth-child(even) {
        background: transparent;
    }

    .fl-table tr td:nth-child(odd) {
        background: #F8F8F8;
        border-right: 1px solid #E6E4E4;
    }

    .fl-table tr td:nth-child(even) {
        border-right: 1px solid #E6E4E4;
    }

    .fl-table tbody td {
        display: block;
        text-align: center;
    }
}

.button-row {
    display: inline-block;
    outline: 0;
    appearance: none;
    padding: 0px 12px;
    border-radius: 4px;
    text-decoration: none;
    cursor: pointer;
    background-color: rgb(249, 251, 250);
    border: 1px solid rgb(137, 151, 155);
    box-shadow: rgb(6 22 33 / 30%) 0px 1px 2px;
    color: rgb(61, 79, 88);
    font-size: 14px;
    font-weight: 400;
    height: 36px;
    justify-items: center;
    transition: all 150ms ease-in-out 0s;
}

.button-row:hover {
    color: rgb(61, 79, 88);
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(93, 108, 116);
    box-shadow: rgb(0 0 0 / 30%) 0px 4px 4px, rgb(231 238 236) 0px 0px 0px 3px;
}

/* Add new user form */

#new-user-container{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    justify-items: center;
    max-height: 20%;
}

#first-name{
    margin:3px;
}
#last-name{
    margin:3px;
}
#contact{
    margin:3px;
}
#address{
    margin:3px;
}

#buttons-new-user-container{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    justify-items: center;
    max-height: 20%;
}

#add-new-user-button-in-container{
    margin: 3px;
}

#reset-new-user-button-in-container{
    margin: 3px;
}

/* END */

/* New video input */

#new-video-container{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    justify-items: center;
    max-height: 20%;
}

#title{
    margin:3px;
}
#genre{
    width: 95.5%;
}
#director{
    margin:3px;
}
#score{
    margin:3px;
}
#description{
    margin:3px;
}
#runtime{
    margin:3px;
}
#actors{
    margin:3px;
}
#buttons-new-video-container{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    justify-items: center;
    max-height: 20%;
}

#add-new-video-button-in-container{
    margin: 3px;
}

#reset-new-videeo-button-in-container{
    margin: 3px;
}
/* end of New video input */

select {
    margin: 3px;
    text-indent:0px;
    width: 38px;
}

.user-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
}


#delete-videos-container{
    display:flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

#videos{
    width: 95.5%
}

#delete-users-container{
    display:flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

#users{
    width: 95.5%
}

#update-video-container{
    display:flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

#update-user-container{
    display:flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

#rent-video-users-container{
    display:flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}